body{
    background-image: url('alex-shutin-kKvQJ6rK6S4-unsplash.jpg');
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
ul{
    list-style-type: none;
    
}
li{
    float: left;
    
}
li a{
    text-decoration: none;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    color: rgb(25, 93, 110);
    background-color: rgb(242, 253, 255);
}
li, a:hover{color: rgb(160, 57, 12);}
h2{
    color: darkcyan;
    text-align: center;
}

footer {
    background-color:transparent; 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align:left;
}

footer p {
    color: #fff;
    font-size: 15px;
    margin: 0;
}

.logo {
    position: fixed;
    top: 12x;
    right: 10px;
    width: 170px;
    height: auto; 
}

